@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-custom-black: #1e1e1e;
  --color-custom-dark: #242321;
  --color-custom-white: #ffffff;
  --color-custom-green: #00d854;
  --color-custom-darkblue: #0f1116;
  --color-custom-blue: #51a2ff;
  --color-custom-brown: #786755;
  --color-custom-dark-gray: #545454;
  --color-custom-bege: #F5F2EB;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1e1e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono);
}

.color-linear {
  background: linear-gradient(90deg, #00d854, #0bd1d1 51%, #00d854) var(--x, 0) /
    200%;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent;
  font-weight: 900;
}

::selection {
  background: #786755; /* Tailwind green-500 */
  color: #ffffff;
}
